/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  color: white;
  text-align: center;
}
 
#submit {
  margin-top: 10px;
}

.logout {
  margin-top: 10px;
}

a:link {
  color: white;
  font-weight: bold;
}

a:visited {
  color: white;
  font-weight: bold;
}

a:hover {
  color: white;
  font-weight: bold;
}

a:active {
  color: white;
  font-weight: bold;
}
