{
  "presets": [
    "env",
    "react",
    "stage-2",
    "es2015"
  ],
  "env": {
  	"test": {
  		"presets": [
  			["env", { "targets": { "node": "current" }}]
  		]
  	}
  },
  "plugins": [
    "transform-object-rest-spread"
  ]
}
